.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
}

.DiaryEditor input {
  padding: 10px;
}
.DiaryEditor textarea {
  padding: 10px;
  height: 150px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/* list */
.DailyList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}
.DailyList ul {
  margin: 0;
  padding: 0;
}
.DailyList h2 {
  text-align: center;
}
.DailyItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  list-style: none;
  padding: 20px;
}
.DailyItem .info__container {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.info__container .date {
  color: gray;
  font-weight: bold;
  font-size: 12px;
}
.DailyItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
