@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 680px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 100vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@layer components {
  .h1text {
    @apply text-[22px] my-[25px] font-bold;
  }
  .grayBtn {
    @apply px-5 py-2 bg-[#ececec] text-[18px] rounded whitespace-nowrap;
  }
}
